* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  height: 100vh;
}

/* .mdc-tab--active {
  color: red;
} */

:root {
  --mdc-theme-primary: #ff4081;
  /* --mdc-theme-text-primary-on-light: #fafafa; */
  /* --mdc-theme-text-primary-on-background: #fff; */
  /* --mdc-theme-text-secondary-on-background: rgba(255, 255, 255, 0.5); */
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #ff4081;
}

button:focus {
  outline: none;
}

.gmnoprint a,
.gmnoprint span {
  display: none;
}
.gmnoprint div {
  background: none !important;
}
#GMapsID div div a div img,
.gm-style-cc {
  display: none;
}
