* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  height: 100vh;
}

/* .mdc-tab--active {
  color: red;
} */

:root {
  --mdc-theme-primary: #ff4081;
  /* --mdc-theme-text-primary-on-light: #fafafa; */
  /* --mdc-theme-text-primary-on-background: #fff; */
  /* --mdc-theme-text-secondary-on-background: rgba(255, 255, 255, 0.5); */
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #ff4081;
}

button:focus {
  outline: none;
}

.gmnoprint a,
.gmnoprint span {
  display: none;
}
.gmnoprint div {
  background: none !important;
}
#GMapsID div div a div img,
.gm-style-cc {
  display: none;
}

.markerButtonOff:before {
  content: "";
  position: absolute;
  top: 80%;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 18px solid #424242;
  border-bottom: 1.5px solid #424242;
}

.markerButtonOn:before {
  content: "";
  position: absolute;
  top: 80%;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 18px solid #39e4a9;
  border-bottom: 1.5px solid #424242;
}

.map-and-list-container {
  height: 90vh;
}

.pulse {
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 245, 158, 0.3);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(169, 0, 60, 0.3);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(169, 0, 60, 0.1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(169, 0, 60, 0);
  }
}

.w-20 {
  width: 20% !important;
}
.w-80 {
  width: 80% !important;
}
